
a{
	text-decoration: none;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background-color: #779ed1;
}
.center{
	width: 356px;
	height: 680px;
	border: 1px solid #d7d9db;
	border-radius: 20px;
}
.divlist{
	width: 280px;
	height: 46px;
	font-size: 16px;
	line-height: 46px;
	color: #f0b6c0;
	text-align: center;
	background: white;
	margin: 20px 0 0 20px;
}
.plum{
	background:plum;
}
.list{
	width: 280px;
	height: 153px;
	background: pink;
	margin-left: 20px;
	display: none;
}
.list.active{
	display: block;
}
li{
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}

li.active{
	background-color: #666;
}
